html, body { height: 100%; }

h1 { margin: 1em 0; }
p  { margin: 1em 0; }

a         { color: #9B59B6; text-decoration: none; }
a:hover   { color: #2C3E50; }

mark { background: lightgrey;}

ul {
    margin: 0 17px;
}

* {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    body {
        font: 14pt Helvetica-Light, Arial, sans-serif;
        text-align: center;
        color: #2C3E50;
        background-color: #FBFCFC;
        border-top: #9B59B6 2px solid;
        margin: auto;
        line-height: 1.5em;

        &.home {
            #profile {
                padding: 7.5em 0 7.5em 0;
            }

            .me {
                padding-bottom: 0.7em;
                font-size: 30pt;
                font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: lighter;
                line-height: 1;
                > b {
                    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    font-weight: normal;
                }
            }
        }
        &.post {
            text-align: left;
            .container {
                #profile {

                }
                .hero-image {
                    display: block;
                    width: 60vw;
                    margin: 30px auto 30px auto;
                }
                #post {
                    h2 {
                        font-size: 1.4em;
                    }
                    .jpg-image-set {
                        width: 900px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        text-align: center;
                        margin: auto;
                        .cat-jpg {
                            width: 400px;
                        }   
                    }
                    .png-image-set {
                        text-align: center;
                        .cat-png {
                            width: 450px;
                        }
                    }
                    .gif-image-set {
                        margin: 30px auto;
                        text-align: center;
                        .cat-gif {
                            width: 400px;
                        }
                    }  
                    .svg-image-set {
                        text-align: center;
                        margin: 30px auto;
                        .cat-svg {
                            width: 300px;
                        }
                    }        
                }
                #post-title {
                    font-weight: bold;
                    font-size: 2em;
                    margin: 0;
                }
            }
        }
        &.website-traffic {
            > .container {
                > #post {
                    > ul {
                        > li {
                            list-style-position: outside;
                        }
                    }
                }
            }
        }
        &.deploy-website {
            > .container {
                > #post {
                    > ul.fields {
                        > li {
                            &:nth-child(4) {
                                list-style-type: none;
                            }
                        }
                    }
                }
            }
        }
        > .container {
            margin: 3em 1.5em;
            font-size: 12pt;

            .section {
                text-align: left;
            }
            h1 {
                font-weight: 300;
                font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            }
            > #profile {
                display: inline-block;
                > .hi {
                    color: #2C3E50;
                    > .social_icons {
                        padding-bottom: 2em;
                        > a {
                            > img {
                                padding: 0 .6em;
                                width: 2.5em;
                                &:hover {
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
            }
            > #projects {
                > .projects-content {
                    > ul {
                        list-style-type: none;
                    }
                }
            }
            > #blog {
                > .posts {
                    > ul {
                        list-style-type: none;
                        > li {
                            > a {

                            }
                        }
                    }
                }
            }
            #post {
                > ul {
                    list-style-position: inside;
                }
            }
        }
    }
}

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/

@media (max-width: 480px) {
    body {
        font-size: 10pt;
        line-height: 2em;
        &.home {
            > .container {
                margin: 1em 0.8em;
                .me {
                    font-size: 25pt;
                }
            }
        }
        &.post {
            line-height: 2.4em;
            > .container {
                > .hero-image {
                    width: 80vw;
                }
            }
        }
        &.image-formats {
            .container {
                #post {
                    .jpg-image-set {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        figure {
                            margin-bottom: 20px;
                            .cat-jpg {
                                width: 100%;
                            }
                        }
                    }
                    .png-image-set {
                        figure {
                            margin-bottom: 20px;
                            .cat-png {
                                width: 100%;
                            }
                        }
                    }
                    .gif-image-set {
                        figure {
                            margin-bottom: 20px;
                            .cat-gif {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.advanced-custom-fields {
            .container {
                img {
                    margin-top: 30px;
                }
            }
        }
        &.sprite-sheets {
            .container {
                #post {
                    .item {
                        background: url(../images/cat-sprite.gif) no-repeat;
                        background-size: 300px;
                        background-position: 0 0;
                        width: 150px;
                        height: 150px;
                        &:hover {
                            background-position: -150px 0;
                        }
                    }
                    .cat-icons {
                        display: flex;
                        .single {
                            padding-right: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .cat {
                                width: 120px;
                            }
                        }
                    }
                    .sprite-sheet {
                        width: 250px;
                    }
                    .code-img {
                        width: 100%;
                    }
                }
            }
        }
        h1 {
            font-size: 1.7em;
        }
    }
}

/*****************************************************************************/
/*
/* Tablet
/*
/*****************************************************************************/

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 10pt;
        line-height: 2em;
        &.home {
            > .container {
                margin: 1em 0.8em;
                .me {
                    font-size: 25pt;
                }
            }
        }
        &.image-formats {
            .container {
                #post {
                    .jpg-image-set {
                        width: 100%;
                        display: flex;
                        figure {
                            margin-bottom: 20px;
                            .cat-jpg {
                                width: 90%;
                            }
                        }
                    }
                    .png-image-set {
                        width: 400px;
                        margin: auto;
                        figure {
                            margin-bottom: 20px;
                            .cat-png {
                                width: 100%;
                            }
                        }
                    }
                    .gif-image-set {
                        width: 400px;
                        margin: auto;
                        figure {
                            margin-bottom: 20px;
                            .cat-gif {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.sprite-sheets {
            .container {
                #post {
                    .item {
                        background: url(../images/cat-sprite.gif);
                        background-size: 300px;
                        background-position: 0 0;
                        width: 150px;
                        height: 150px;
                        &:hover {
                            background-position: -150px 0;
                        }
                    }
                    .cat-icons {
                        display: flex;
                        .single {
                            padding-right: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .cat {
                                width: 120px;
                            }
                        }
                    }
                    .sprite-sheet {
                        width: 250px;
                    }
                    .code-img {
                        width: 500px;
                    }
                    .item {
                        background-size: 250px;
                        width: 125px;
                        height: 125px;
                        &:hover {
                            background-position: -125px 0;
                        }
                       
                    }
                }
            }
        }
        h1 {
            font-size: 1.7em;
        }
    }
}

/*****************************************************************************/
/*
/* Desktop
/*
/*****************************************************************************/

@media (min-width: 1025px) {
    body {
        font-size: 10pt;
        line-height: 2em;
        &.home {
            > .container {
                margin: 1em 0.8em;
                .me {
                    font-size: 25pt;
                }
            }
        }
        &.post {
            > .container {
                > .hero-image {
                    width: 700px;
                }
            }
        }
        &.image-formats {
            .container {
                #post {
                    .jpg-image-set {
                        width: 900px;
                        display: flex;
                        figure {
                            margin-bottom: 20px;
                            .cat-jpg {
                                width: 90%;
                            }
                        }
                    }
                    .png-image-set {
                        width: 400px;
                        margin: auto;
                        figure {
                            margin-bottom: 20px;
                            .cat-png {
                                width: 100%;
                            }
                        }
                    }
                    .gif-image-set {
                        width: 400px;
                        margin: auto;
                        figure {
                            margin-bottom: 20px;
                            .cat-gif {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.sprite-sheets {
            .container {
                #post {
                    .cat-icons {
                        display: flex;
                        .single {
                            padding-right: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .cat {
                                width: 120px;
                            }
                        }
                    }
                    .sprite-sheet {
                        width: 250px;
                    }
                    .code-img {
                        width: 500px;
                    }
                    .item {
                        background: url(../images/cat-sprite.gif);
                        background-position: 0 0;
                        background-size: 250px;
                        width: 125px;
                        height: 125px;
                        &:hover {
                            background-position: -125px 0;
                        }
                       
                    }
                }
            }
        }
        h1 {
            font-size: 1.7em;
        }
    }
}