html, body {
  height: 100%;
}

h1 {
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #9B59B6;
  text-decoration: none;
}

a:hover {
  color: #2C3E50;
}

mark {
  background: lightgrey;
}

* {
  margin: 0;
  padding: 0;
}

* body {
  font: 14pt Helvetica-Light, Arial, sans-serif;
  text-align: center;
  color: #2C3E50;
  background-color: #FBFCFC;
  border-top: #9B59B6 2px solid;
  margin: auto;
  line-height: 1.5em;
}

* body.home #profile {
  padding: 7.5em 0 7.5em 0;
}

* body.home .me {
  padding-bottom: 0.7em;
  font-size: 30pt;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
  line-height: 1;
}

* body.home .me > b {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

* body.post {
  text-align: left;
}

* body.post .container .hero-image {
  display: block;
  width: 60vw;
  margin: auto;
}

* body.post .container #post .jpg-image-set {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
}

* body.post .container #post .jpg-image-set .cat-jpg {
  width: 400px;
}

* body.post .container #post .png-image-set {
  text-align: center;
}

* body.post .container #post .png-image-set .cat-png {
  width: 450px;
}

* body.post .container #post .gif-image-set {
  margin: 30px auto;
  text-align: center;
}

* body.post .container #post .gif-image-set .cat-gif {
  width: 400px;
}

* body.post .container #post .svg-image-set {
  text-align: center;
  margin: 30px auto;
}

* body.post .container #post .svg-image-set .cat-svg {
  width: 300px;
}

* body.post.advanced-custom-fields .container img {
  margin-top: 30px;
}

* body.post.sprite-sheets .container #post .item {
  background: url(../images/cat-sprite.gif);
  background-size: 300px;
  background-position: 0 0;
  width: 150px;
  height: 150px;
}

* body.post.sprite-sheets .container #post .item:hover {
  background-position: -150px 0;
}

* body.post.sprite-sheets .container #post .cat-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body.post.sprite-sheets .container #post .cat-icons .single {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body.post.sprite-sheets .container #post .cat-icons .single .cat {
  width: 150px;
}

* body.post.sprite-sheets .container #post .sprite-sheet {
  width: 300px;
}

* body > .container {
  margin: 3em 1.5em;
  font-size: 12pt;
}

* body > .container .section {
  text-align: left;
}

* body > .container h1 {
  font-weight: 300;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* body > .container span {
  color: #92979a;
}

* body > .container > #profile {
  display: inline-block;
}

* body > .container > #profile > .hi {
  color: #2C3E50;
}

* body > .container > #profile > .hi > .social_icons {
  padding-bottom: 2em;
}

* body > .container > #profile > .hi > .social_icons > a > img {
  padding: 0 .6em;
  width: 2.5em;
}

* body > .container > #profile > .hi > .social_icons > a > img:hover {
  opacity: .7;
}

* body > .container > #projects > .projects-content > ul {
  list-style-type: none;
}

* body > .container > #blog > .posts > ul {
  list-style-type: none;
}

* body > .container #post > ul {
  list-style-position: inside;
}

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/
@media (max-width: 480px) {
  body {
    font-size: 10pt;
    line-height: 2em;
  }
  body.home > .container {
    margin: 1em 0.8em;
  }
  body.home > .container .me {
    font-size: 25pt;
  }
  body.image-formats .container #post .jpg-image-set {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.image-formats .container #post .jpg-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .jpg-image-set figure .cat-jpg {
    width: 100%;
  }
  body.image-formats .container #post .png-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .png-image-set figure .cat-png {
    width: 100%;
  }
  body.image-formats .container #post .gif-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .gif-image-set figure .cat-gif {
    width: 100%;
  }
  body h1 {
    font-size: 1.7em;
  }
}

/*****************************************************************************/
/*
/* Tablet
/*
/*****************************************************************************/
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    font-size: 10pt;
    line-height: 2em;
  }
  body.home > .container {
    margin: 1em 0.8em;
  }
  body.home > .container .me {
    font-size: 25pt;
  }
  body.image-formats .container #post .jpg-image-set {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body.image-formats .container #post .jpg-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .jpg-image-set figure .cat-jpg {
    width: 90%;
  }
  body.image-formats .container #post .png-image-set {
    width: 400px;
    margin: auto;
  }
  body.image-formats .container #post .png-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .png-image-set figure .cat-png {
    width: 100%;
  }
  body.image-formats .container #post .gif-image-set {
    width: 400px;
    margin: auto;
  }
  body.image-formats .container #post .gif-image-set figure {
    margin-bottom: 20px;
  }
  body.image-formats .container #post .gif-image-set figure .cat-gif {
    width: 100%;
  }
  body h1 {
    font-size: 1.7em;
  }
}
/*# sourceMappingURL=main.css.map */